$primary_color: #5ece7b;
$black: #1d1f22;
$gray: #e5e5e5;
//reusable styling

.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.no_decoration {
  text-decoration: none;
  color: inherit;
}
.cursor_pointer {
  cursor: pointer;
}

div {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  margin-top: 100px;
  box-sizing: border-box;
  // padding: 28px 101px;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
}

.section {
  padding: 28px 20px;
  margin-top: 100px;
}

.button_parent {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
}

.noty {
  position: fixed;
  top: 120px;
  display: flex;
  justify-content: center;
  width: 100vw;
  z-index: 1000;
  color: #fff;

  > div {
    background: $black;
    padding: 10px 20px;
    display: flex;
    align-items: center;

    p {
      margin-left: 5px;
      font-weight: 500;
    }
  }
}

.master_header {
  position: relative;

  .header {
    display: flex;
    justify-content: center;
    background-color: #fff;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    box-sizing: border-box;
    padding: 0 10px;

    .cart_overlay {
      position: fixed;
      top: 104px;
      left: 0;
      z-index: 10;
      overflow: auto;
      height: 100vh;

      .modal_env {
        width: 100vw;
        height: 100vh;
        background: rgba(57, 55, 72, 0.22);
        position: fixed;
        top: 0;
      }

      .bag {
        z-index: 10;
        position: absolute;
        right: 20px;
        // margin-right: 101px;
        padding: 20px 0;
        padding-top: 0;
        background: #fff;
        width: 325px;
        max-height: 50vh;
        overflow: auto;

        .title {
          display: flex;
          font-weight: 700;
          font-size: 16px;
          position: sticky;
          background: rgba(255, 255, 255, 0.667);
          backdrop-filter: blur(5px);
          top: -6px;
          padding: 12px 20px;
          span {
            font-weight: 500;
            font-size: 16px;
            margin-left: 4px;
          }
        }

        .total_price {
          display: flex;
          justify-content: space-between;
          padding: 0 20px;
          font-weight: 700;
          font-size: 16px;
          margin: 32px 0;
        }

        .links {
          display: flex;
          align-items: center;
          padding: 5px 20px;
          justify-content: space-between;
          background: rgba(255, 255, 255, 0.667);
          backdrop-filter: blur(5px);

          a {
            text-decoration: none;
          }
        }

        .cartItems {
          padding: 0 20px;
          .cartItem {
            display: flex;
            justify-content: space-between;
            margin: 40px 0;

            .text {
              margin-right: 20px;
              font-weight: 300;
              font-size: 16px;

              .brand {
                font-weight: 600;
                font-size: 12px;
                margin-top: 5px;
              }

              .price {
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 27px;
                margin-top: 10px;
              }

              .attributes {
                .attribute {
                  display: flex;
                  // flex-wrap: wrap;
                  align-items: center;
                  margin: 4px 0;
                  h1 {
                    font-weight: 600;
                    font-size: 14px;
                  }

                  p {
                    font-family: "Source Sans Pro";
                    font-weight: 400;
                    font-size: 14px;
                    margin-left: 8px;
                    padding: 8px;
                    border: 1px $black solid;
                    background-color: $black;
                    color: #fff;
                  }
                }
              }
            }
            .img_qty {
              display: flex;
              width: 105px;
              height: 137px;

              .qtys {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin-right: 4px;

                .qty {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 16px;
                  cursor: pointer;
                  height: 16px;
                  padding: 1px;
                  font-weight: 500;
                  font-size: 24px;
                  border: $black 1px solid;

                  &:hover {
                    background-color: $primary_color;
                  }
                }

                .qty_value {
                  font-weight: 500;
                  font-size: 16px;
                }
              }
              .img_bg {
                padding: 4px;
                border: 1px solid $black;
                width: 100%;
                height: 100%;
                .img {
                  // width: 105px;
                  // height: 137px;
                  min-width: 80px;
                  width: 100%;
                  height: 100%;
                  background-size: cover;
                  background-position: center;
                }
              }
            }
          }
        }
      }
    }

    > div {
      width: 100%;
      display: grid;
      grid-template-columns: 3fr 3fr 3fr;
      justify-content: space-between;
      padding-top: 20px;

      .logo {
        justify-self: center;
        width: 41px;
      }

      .currency_cart {
        justify-self: flex-end;
        margin-top: 16px;

        > div {
          display: flex;
          align-items: center;
        }

        .currency {
          position: relative;
          display: flex;

          .currency_dropdown_icon {
            margin-left: 6px;
            transition: 200ms;
          }

          .rotate {
            transform: rotate(180deg);
          }
        }

        .cart {
          margin-left: 22px;
          position: relative;

          .cart_length {
            color: #fff;
            background: $black;
            font-weight: 700;
            font-size: 14px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -10px;
            right: -18px;
          }
        }
      }

      ul {
        display: flex;
        list-style: none;
        font-size: 16px;
        font-weight: 400;
        padding-left: 0;

        .active .active_link {
          color: $primary_color;
          border-bottom: solid 2px $primary_color;
          font-weight: 600;
        }

        li {
          padding: 0 4px;
          margin-right: 5px;
          padding-bottom: 5px;
          cursor: pointer;
          // border: #000 2px solid;
        }
      }
    }
  }
}

.categories {
  .category_name {
    font-size: 42px;
    font-weight: 400;
    color: $black;
    margin-bottom: 87px;
  }
}

.product_cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-gap: 40px;
}

.product_card {
  width: 350px;
  min-height: 444px;
  padding: 16px;
  margin-bottom: 103px;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #f2f2f2;
  // border-radius: 10px;
  position: relative;
  color: #1d1f22;
  transition: 200ms;

  .product_link {
    position: relative;
  }

  .productImage {
    max-width: 300px;
    .out_of_stock_text {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 5;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      color: #8d8f9a;
      justify-content: center;
    }
  }

  .attributes {
    .attribute {
      display: flex;
      align-items: center;

      p {
        margin: 12px 0;
      }

      .items {
        > div {
          display: flex;
        }

        .item {
          border: 1px $black solid;
          padding: 3px 6px;
          font-weight: 400;
          font-size: 16px;
          font-family: "Source Sans Pro";
          cursor: pointer;
          margin-left: 8px;

          &:hover {
            background: $primary_color;
            color: #fff;
          }
        }

        .non_color_items {
          .active {
            background: $black;
            color: #fff;
          }
        }

        .color_item {
          margin-left: 8px;
          border: $black 1px solid;
          &:hover {
            border: $primary_color 1px solid;
          }
        }

        .color_items {
          .active {
            border: $primary_color 2px solid;
            padding: 1px;
          }
        }
      }
    }
  }

  .out_of_stock {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffffff;
    color: #8d8f9a;
    z-index: 2;
    opacity: 0.6;
  }

  .name {
    margin-bottom: 4px;
    font-weight: 300;
    font-size: 18px;
    display: inline;

    &:hover {
      color: $primary_color;
      // font-weight: 500;
    }
  }

  .price {
    font-weight: 500;
    font-size: 18px;
    margin: 12px 0;
  }

  .cartIcon {
    background-color: $primary_color;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: solid 4px #fff;
    position: absolute;
    bottom: -25px;
    right: 15px;
  }

  &:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    transform: scale(1.01);

    .cartIcon {
      display: flex;
    }
  }
}

.currency_dropdown {
  position: absolute;
  top: 20px;
  left: -20px;
  z-index: 5;
  filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
  background: #fff;
  // padding: 20px 0px;
  color: $black;
  font-weight: 500;
  font-size: 18px;

  .currency_dropdown_item {
    display: flex;
    padding: 10px 40px 10px 20px;

    &:hover {
      background: $black;
      color: #fff;
    }
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  img {
    width: 100%;
  }

  .images {
    display: flex;

    img {
      width: 70px;
    }

    .active {
      border: $primary_color 1px solid;
    }

    img {
      border: 1px solid #f2f2f2;
      cursor: pointer;

      &:hover {
        border: 1px solid $black;
      }
    }
  }

  .image {
    grid-column: span 5 / span 5;
    max-width: 400px;
  }

  .text {
    grid-column: span 6 / span 6;

    h1 {
      margin-bottom: 16px;
    }

    .attributes {
      .attribute {
        margin: 40px 0;

        .items {
          display: flex;
          column-gap: 12px;
          color: $black;

          > div {
            display: flex;
          }

          .color_items {
            .color_item {
              border: $black 1px solid;
              margin-right: 10px;
              &:hover {
                border: $primary_color 1px solid;
              }
            }

            .active {
              border: $black 4px solid;
              padding: 8px;
            }
          }

          .active {
            background: $black;
            color: #fff;
          }

          .item {
            border: 1px $black solid;
            margin-right: 10px;
            padding: 14px 23px;
            font-weight: 400;
            font-size: 16px;
            font-family: "Source Sans Pro";
            cursor: pointer;

            &:hover {
              background: $primary_color;
              color: #fff;
            }
          }
        }

        h1 {
          color: $black;
          font-weight: 700;
          font-size: 18px;
        }
      }
    }

    .price {
      font-weight: 700;
      font-size: 24px;

      h1 {
        color: $black;
        font-weight: 700;
        font-size: 18px;
      }
    }

    .button {
      margin: 20px 0 40px 0;
      max-width: 292px;
    }
  }
}

.cart {
  .name {
    font-weight: 700;
    font-size: 32px;
    color: $black;
    margin-bottom: 87px;
    text-transform: uppercase;
  }

  .brand {
    margin-top: 10px;
  }

  .price {
    font-weight: 700;
    font-size: 24px;
    margin-top: 16px;
  }

  .cart_item {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    justify-content: space-between;
    padding: 20px 0;
    border-top: $gray 1px solid;

    .attributes {
      margin-top: 20px;
      .attribute {
        display: flex;
        // flex-wrap: wrap;
        align-items: center;
        margin: 4px 0;
        h1 {
          font-weight: 600;
          font-size: 14px;
        }

        p {
          font-family: "Source Sans Pro";
          font-weight: 400;
          font-size: 14px;
          margin-left: 8px;
          padding: 8px;
          border: 1px $black solid;
          background-color: $black;
          color: #fff;
        }
      }
    }

    .img_qty {
      display: flex;
      .qtys {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-right: 4px;

        .qty {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          cursor: pointer;
          height: 32px;
          padding: 1px;
          font-weight: 500;
          font-size: 24px;
          border: $black 1px solid;

          &:hover {
            background-color: $primary_color;
          }
        }

        .qty_value {
          font-weight: 500;
          font-size: 16px;
        }
      }

      .img_bg {
        border: 1px solid $black;
        padding: 8px;
        position: relative;

        .next_prev {
          position: absolute;
          left: 0;
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          justify-content: space-between;

          img {
            width: 20px;
            height: 20px;
            padding: 3px;
            background-color: #5ece7ca4;
            cursor: pointer;

            &:hover {
              background-color: $black;
            }
          }
        }

        .img {
          width: 141px;
          height: 185px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}

@media (min-width: 960px) {
  .section {
    padding: 28px 101px;
  }

  .master_header {
    .header {
      padding: 0 101px;

      .cart_overlay {
        .bag {
          right: 101px;
        }
      }

      > div {
        ul {
          li {
            padding: 0 16px;
            margin-right: 32px;
            padding-bottom: 30px;
          }
        }
      }
    }
  }
  .product_card {
    width: 386px;

    .productImage {
      max-width: 100%;
    }
  }
  .product_cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .product {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 20px;

    .images {
      display: block;
      grid-column: span 1 / span 1;
      max-height: 32rem;
      img {
        width: 70px;
      }
    }
  }
}

@media (min-width: 1400px) {
  .product_cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
